export(getFinance)
export(getProfile)
export(getDaily)
export(getWeekly)
export(getMonthly)
export(readCache_poly)
export(writeCache_poly)
export(readCache_alpha)
export(writeCache_alpha)
export(updateCache)
export(updateCached)
